# Dataset 
dataset_name : solar

# Hyperparemeter 
m : 4 # Number of graph convolution module AND temporal conv module 
alpha : 0.1 # saturation parameter in graph layer
k : 4 # Step in mix hop = depth of propagation
beta : 0.1 # ratio of retained info from root node  
embedding_dim : 64 
learning_rate : 0.00001
weight_decay : 0.00001 # Regularisation L2 
residual_channels: 32 # Channels following the conv, divisible by 4
timepoints_input: 16

# Training 
batch_size : 64
n_epoch : 10000

# Logging 
log_each : 5
log_level : INFO
